@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable;

<div>
    <a class="btn btn-success btn-add" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit">Add</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col">Student Name</th>
            <th class="col">MobileNoStudent</th>
            <th class="col">Email</th>
            <th class="col">MobileNoFather</th>
            <th class="col">Address</th>
            <th class="col">BirthDate</th>
            <th class="col">BranchName</th>
            <th class="col">CityName</th>
            <th class="col">Action</th>


        </tr>
    </thead>
    <tbody>

        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["StudentName"]</td>
                <td>@dr["MobileNoStudent"]</td>
                <td>@dr["Email"]</td>
                <td>@dr["MobileNoFather"]</td>
                <td>@dr["Address"]</td>

                <td>@Convert.ToDateTime(dr["BirthDate"].ToString())</td>
                <td>@dr["BranchName"]</td>
                <td>@dr["CityName"]</td>
                <td>
                    <a type="button" class="btn btn-danger" asp-area="Student" asp-controller="Student" asp-action="StudentDelete" asp-route-StudentId="@Convert.ToInt32(dr["StudentId"])">Delete</a>
                    <a type="button" class="btn btn-warning" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit" asp-route-StudentId="@Convert.ToInt32(dr["StudentId"])">edit</a>
                    <a type="button" class="btn btn-info" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit" asp-route-StudentId="@Convert.ToInt32(dr["StudentId"])">Duplicate</a>

                </td>

            </tr>
        }



    </tbody>
</table>
